In [ ]:
#3. Create a dict with your family members(at least 10 names)?

In [18]:
dict={"family_members":["venkataraju","dhanalakshmi","gopalakrishna","dasaradharamayya","nagedramma","bhogiraju","nagajyothi","lakshmana","umadevi","poojitha"]}

In [13]:
print(dict)

{'family_members': ['venkataraju', 'dhanalakshmi', 'gopalakrishna', 'dasaradharamayya', 'nagedramma', 'bhogiraju', 'nagajyothi', 'lakshmana', 'umadevi', 'poojitha']}

In [14]:
import pandas 
import pandas as pd
df1=pd.DataFrame(dict)
df1

     family_members
0       venkataraju
1      dhanalakshmi
2     gopalakrishna
3  dasaradharamayya
4        nagedramma
5         bhogiraju
6        nagajyothi
7         lakshmana
8           umadevi
9          poojitha

In [ ]:
#5: Create a your friend names and their quality(at least 10 names)?

In [15]:
dict={"friend_names":["anitha","vanaja","sivadevi","prasanna","vanitha","anusha","poojitha","sruthi","mamatha","manasa"],"quality":["clever","funny","active","intelligent","anger","funny","active","talk","anger","funny"]}

In [16]:
print(dict)

{'friend_names': ['anitha', 'vanaja', 'sivadevi', 'prasanna', 'vanitha', 'anusha', 'poojitha', 'sruthi', 'mamatha', 'manasa'], 'quality': ['clever', 'funny', 'active', 'intelligent', 'anger', 'funny', 'active', 'talk', 'anger', 'funny']}

In [22]:
df2=pd.DataFrame(dict)
df2

       veg_items  rating
0         tomato       1
1        brinjal       2
2         potato       3
3  angulargourds       4
4    ladysfinger       5
5       cucumber       6
6         carrot       7
7    snakegourds       8
8   bottlegourds       9
9       gherkins      10

In [ ]:
#6: Create a your favorite food names and your rating(at least 10 names)?

In [19]:
dict={"veg_items":["tomato","brinjal","potato","angulargourds","ladysfinger","cucumber","carrot","snakegourds","bottlegourds","gherkins"],"rating":[1,2,3,4,5,6,7,8,9,10]}

In [20]:
print(dict)

{'veg_items': ['tomato', 'brinjal', 'potato', 'angulargourds', 'ladysfinger', 'cucumber', 'carrot', 'snakegourds', 'bottlegourds', 'gherkins'], 'rating': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [21]:
df3=pd.DataFrame(dict)
df3

       veg_items  rating
0         tomato       1
1        brinjal       2
2         potato       3
3  angulargourds       4
4    ladysfinger       5
5       cucumber       6
6         carrot       7
7    snakegourds       8
8   bottlegourds       9
9       gherkins      10

In [ ]:
#8: Create a your favorite destination(cities) names and your rating(at least 10 names)?

In [23]:
dict={"destination":["machilipatnam","vijayawada","hyderabad","guntur","channai","bangalore","goa","ooty","vizag","westgodavari"],"rating":[1,2,3,4,5,6,7,8,9,10]}

In [24]:
print(dict)

{'destination': ['machilipatnam', 'vijayawada', 'hyderabad', 'guntur', 'channai', 'bangalore', 'goa', 'ooty', 'vizag', 'westgodavari'], 'rating': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [25]:
df4=pd.DataFrame(dict)
df4

     destination  rating
0  machilipatnam       1
1     vijayawada       2
2      hyderabad       3
3         guntur       4
4        channai       5
5      bangalore       6
6            goa       7
7           ooty       8
8          vizag       9
9   westgodavari      10